body {
  font-family: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Pine Styles */

body {
  font-family: Poppins, sans-serif;
  color: #111;
  background-color: #f4f4f4;
}

main {
  height: 100vh;
  width: 100vw;
}

.headings {
  margin-bottom: 2rem;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  display: block;
  font-size: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.125rem;
}

.mb-3 {
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-3 {
  gap: 1rem;
}

.block {
  display: block;
}

.card-grid {
  display: flex;
  width: clamp(100%, 50vw);
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  color: #111;
  background-color: white;
  border-radius: 7px;
  padding: 1rem;
  width: clamp(200px, 100%, 10vw);
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input {
  border: 2px solid #ddd;
  border-radius: 4px;
  opacity: 1;
  padding: 0.25rem;
  cursor: pointer;
  transition: opacity 100ms ease;
}
button {
  border: none;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
  opacity: 1;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: opacity 100ms ease;
}

button:hover {
  opacity: 0.7;
}
